body{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.container{
    padding-top: 30px;
    text-align: center;
    color: blue;
}
table{
    margin: auto;
    margin-top: 20px;
}
input{
    border: 5px solid black;
    font-size: 33px;
    border-radius: 25px;
}
button{
    border-radius: 24px;
    font-size: 36px;
    background-color: rgb(195, 235, 235);
    width: 102px;
    height: 55px;
}
.calculator{
    display: inline-block;
    background-color: rgb(103, 236, 15);
    padding: 25px;
    border-radius: 50px;
    border: 4px solid rgb(248, 75, 7);
}
.hedding{
font-weight: bolder;
    font-size: 90px;
    padding-bottom: 20px;
}